{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"-->
        <link rel="stylesheet" href="{% static 'home/materialize/css/materialize.min.css' %}" />
        <link rel="stylesheet" href="{% static 'home/bs/css/bootstrap.min.css' %}" />
        <title>
        {% if title %}
          {{ title }} - 
        {% endif %}
        Sri Laxmi Venkateswara Traders
        </title>
        <style>

        </style>
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'home/test.css' %}"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
        <style>
            {% block extra_style %}
            {% endblock %}
        </style>
    </head>
    <body >
        <div class="static-top">
            <header class="site-header">
                <div class="green navbar navbar-expand-md navbar-dark fixed-top">
                    <a class="navbar-brand mr-4 left" href="#">Sri Laxmi Venkateswara Traders</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                      <div class="navbar-nav mr-auto">
                        <a href="{% url 'products' %}" class="nav-item nav-link">Products</a>
                        
                        <a href="{% url 'bills' %}" class="nav-item nav-link">Bills</a>
                        <a href="{% url 'customers' %}" class="nav-item nav-link">Customers</a>
                        <a href="{% url 'invoices' %}" class="nav-item nav-link">Invoices</a>
                        <a href="{% url 'payments' %}" class="nav-item nav-link">Payments</a>
                        <a href="{% url 'export_list' %}" class="nav-item nav-link">Download</a>
                        <a href="{% url 'new_bill' %}" class="nav-item nav-link">New Bill</a>
                        <!-- <a href="{% url 'villages' %}" class="btn blue" >Villages</a> -->
                        <a href="{% url 'new_invoice' %}" class="nav-item nav-link">New Invoice</a>
                      </div>
                      <div class="navbar-nav">
                        {% if user.is_authenticated %}
                          {% if user.profile %}
                            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                          {% endif %}
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                          <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                          <a class="nav-item nav-link" href="{% url 'signup' %}">Signup</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </header>
        </div>
        <nav class="green"></nav>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% block datalist_form %}{% endblock %}
            {% block content %}{% endblock %}
            {% block paginator %}{% endblock %}
        </div>
        <footer>
            &#169;
            Sri Laxmi Venkateswara Traders,<br />
            Tadkole Road, Banswada,<br />
            Kamareddy District,<br />
            Telangana State - 503187.
        </footer>
<!-- 
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
        <script src="{% static 'home/jquery/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'home/bs/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'home/materialize/js/materialize.min.js' %}"></script>
    </body>
</html>