{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"-->
        <link rel="stylesheet" href="{% static 'home/bs/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'home/materialize/css/materialize.min.css' %}" />
        <script src="{% static 'home/materialize/js/materialize.min.js' %}"></script>
        <script src="{% static 'home/jquery/jquery-3.4.1.min.js' %}"></script>
        <title>
        {% if title %}
          {{ title }} - 
        {% endif %}
        Sri Laxmi Venkateswara Traders
        </title>
        <style>

        </style>
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'home/test.css' %}"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
        <style>
            {% block extra_style %}
            {% endblock %}
        </style>
    </head>
    <body >
        <div class='header center'><h3><marquee>Sri Laxmi Venkateswara Traders</marquee></h2></div>
        <hr />
        <div class="links center">
            <a href="{% url 'products' %}" class="btn blue">Products</a>
            <a href="{% url 'bills' %}" class='btn blue'>Bills</a>
            <a href="{% url 'invoices' %}" class='btn blue'>Invoices</a>
            <a href="{% url 'customers' %}" class='btn blue'>Customers</a>
            <a href="{% url 'payments' %}"  class="btn blue">Payments</a>
            <a href="{% url 'export_list' %}" class="btn blue">Download</a>
            <a href="{% url 'new_bill' %}" class='btn blue'>New Bill</a>
            <a href="{% url 'villages' %}" class="btn blue" >Villages</a>
            <a href="{% url 'new_invoice' %}" class='btn blue'>New Invoice</a>
        </div>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% block datalist_form %}{% endblock %}
            {% block content %}{% endblock %}
            {% block paginator %}{% endblock %}
        </div>
        <footer>
            Copy Rights Sri Laxmi Venkateswara Traders, Banswada, Kamareddy, Telangana State - 503187.
        </footer>
<!-- 
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    </body>
</html>