{% extends 'home/list.html' %}
{% block content %}
    <h4>Customers List ({{ page_obj.paginator.count }})</h4>
    {% if customers %}
        <datalist id="customers">
            {% for c in all_customers %}
                <option value="{{ c.id }}">{{ c.name }} {{ c.id_in_book }}</option>
            {% endfor %}
        </datalist>
        Search Customer : 
        <label>
            <input type="radio" id='details' class="with-gap" name="link" checked=''>
            <span>
                Show Bills
            </span>
        </label>
        <label>
                <input type="radio" id='details' class="with-gap" name="link">
                <span>Show Details</span>
        </label>
        <input list='customers' onblur="open_customer(this);" placeholder="eg. Kadapalla Nithin" />

        <div id='search_message'></div>
        <div id='sort_switch'></div>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Due</th>
                <th>Id in book</th>
                <!-- <th>Phone</th>
                <th>Email</th> -->
            </tr>
            </thead>
            <tbody>
            {% for c in customers %}
                <tr>
                    <td sortable-data='{{ c.id }}'><a href="{% url 'customer_update' c.id %}" target="blank" >{{ c.id }}</a></td>
                    <td sortable-data='{{ c.name }}'><a href="{% url 'customer_bills' c.id %}">{{ c.name }}</a></td>
                    <td sortable-data='{{ c.address }}'>{{ c.address.village }}</td>
                    <td sortable-data='{{ c.due }}'>{{ c.due }}</td>
                    <td>{{ c.id_in_book }}</td>
                    <!-- <td sortable-data='{{ c.phone }}'>{{ c.phone }}</td>
                    <td sortable-data='{{ c.email }}'>{{ c.email }}</td> -->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No Customers till now.
    {% endif %}
    {% if sort_links %}
    <script>
        var sort_links = [{% for link in sort_links %}
        "{{ link }}",
        {% endfor %}];
        function open_customer(optn){
            var id = parseInt(optn.value);
            if(id == undefined || isNaN(id)){
                document.getElementById('search_message').innerHTML = "Select customer not just typing name";                
            }else{
                var target = "";
                if(document.getElementById('details').checked){
                    target = "/bills/";
                }
                window.location.assign("/customer/"+id+target);
            }

        }
    </script>
    {% endif %}
{% endblock %}