{% extends 'home/list.html' %}
{% block content %}
    <h4>Customer Bills List ({{ page_obj.paginator.count }})</h4>
    {% if bills %}
        <table>
            <tr>
                <td>No.</td>
                <td>Customer</td>
                <td>Total</td>
                <td>Due</td>
                <td>Date</td>
            </tr>
            {% for b in bills %}
                <tr>
                    <td>{{ b.id }}</td>
                    <td><a href="#">{{b.customer}}</a></td>
                    <td><a href="{% url 'bill_particular' b.id %}">{{ b.total }}</a></td>
                    <td><a href="{% url 'payment' b.id %}">{{ b.due }}</a></td>
                    <td><span class="date">{{ b.date.date }}<span class="time">,{{ b.date.time }}</span></span></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        No bills with 
        {% if customer %}
            {{ customer }}
        {% else %}
            this customer
        {% endif %} 
        till now.
    {% endif %}
{% endblock %}