{% extends "./base.html" %}
    {% block extra_style %}
            .take{
                color : green;
                max-width: 100px;
                border : 0px;
                margin: 0px;
            }
            .return{
                border : 0px;
                margin: 0px;
                color : red;
                max-width: 100px;
            }
            input{
                max-width: 50%;
            }
            tr{
                width:60%;
            }
            td{
                padding : 0;
                max-width: 20%;
                width : 20%;
            }
            form{
                max-width : 400px;
            }
    {% endblock %}
    {% block content %}
    <form method="post">
        <h3>Payment</h3>
        {% if bill %}
            Bill {{ bill.id }}
            <div>
                Customer : {{ bill.customer.name }}<br />
                Customer Due : {{ bill.customer.due }}<br />
                Bill Due : {{ bill.due }}
                <span class="date">{{ bill.date.date }}<span class="time"> {{ bill.date.time }}</span></span>
            </div>
        {% endif %}
    
        {% csrf_token %}
        <table>
            {% for den in denomi %}
            <tr>
            <td class="den">
                {{ den }} x
            </td>
            <td>
                (<input class='take' name='t{{ den }}' type="number" value=0 onblur="check_both()" required />
            </td>
            <td>
                   - <input  class='return' name='r{{ den }}' type="number" value=0  onblur="check_both();" required />)
            </td>
            </tr>
            {% endfor %}
            
    </table>
        {% if total %}
            <div class="container">Total :    {{ total }}</div>
        {% endif %}
        <div>
            <b id='take_id'></b> - <b id='return_id'></b> = <b id='total'></b>
            <div>
                Period : <b id='months'></b> <b id='days'></b>Days
            </div>
            <div>
                <!-- not number because decimal values are not allowed for numbers -->
                Intrest Rate :<input type="text" name="intrest_rate" onblur="set_amount();" value="0" required />
                <span id='intrest_rate_message'></span>
                <div>
                    Principle Amount : <input id='principle' type='text' value="{{ bill.due }}" onblur="set_amount();" />
                </div>
                <div>
                    <span id='intrest_amount_calc'> </span><b id="intrest_amount"></b>
                    Payable : <span id='payable' style="color: green;"></span>
                </div>
            </div>
        </div>
        <div>
            Amount : <input type="text" name='amount' placeholder="Enter amount" />
        </div>
        <div>
            Remarks :<input type="text" name="remarks" placeholder="Optional" /> 
            <input class="right btn" type="submit" value="Pay"/>
        </div>
    </form>
    <script>
        var period_sec = {{ period.seconds }};
        var period_days = {{ period.days }};
        var period_months = parseFloat(period_days/30);
        function check_total(cls,id){
            var inp = document.getElementsByClassName(cls);
            var total = 0;
            for(var i = 0; i<inp.length ; i++){
                //console.log(total);
                //console.log(inp[i]);
                //console.log(parseInt(inp[i].name)*inp[i].value);
                total += parseInt(inp[i].name.substring(1))*inp[i].value;
            }
            //console.log("total is "+total);
            document.getElementById(id).innerText = total;
            return total;
        }
        function check_both(){
//            console.log(x+' '+y);
            var amount = check_total('take','take_id') - check_total('return','return_id')
            document.getElementById('total').innerText =  amount;
            document.getElementsByName('amount')[0].value = amount;
        }
        function set_period(){
            document.getElementById('days').innerHTML = period_days;
            var m = parseInt(period_days/30);
            if(m > 0){
                document.getElementById('months').innerHTML = m.toString()+" Months ";
            }
        }
        (function (){check_both();set_period();})();
        function set_amount(){
            check_both();
//            var total = parseFloat(document.getElementById('total').innerText);
            var intrest_rate = parseFloat(document.getElementsByName('intrest_rate')[0].value);
            if(intrest_rate == undefined || isNaN(intrest_rate) || intrest_rate > 100 || intrest_rate < 0){
                intrest_rate_message.innerHTML  = 'check intrest rate it should be between 0 and 100';
            }else{
                intrest_rate_message.innerHTML = "";
            }
            var intrest_amount;
            var principle = parseFloat(document.getElementById('principle').value);
//            if(intrest_rate > 0){
                intrest_amount = principle*period_months*intrest_rate/100;
                document.getElementById('intrest_amount_calc').innerText = '('+principle+' x '+intrest_rate+" x "+period_months+")/100 = ";
                document.getElementById('intrest_amount').innerText = intrest_amount;
                document.getElementById('')
  //          }
            var payable = principle + intrest_amount;
            document.getElementById('payable').innerHTML = payable;
            document.getElementsByName('amount')[0].value = payable;
        }
    </script>
{% endblock content %}
<!--html>
    <head>
        {% if title %}
        <title>
            Shop - {{ title }} Page
        </title>
        {% else %}
        <title>
            Shop Page
        </title>
        {% endif %}
    </head>
    <body>
        <h1>Payments Page</h1>
        <form method="post">
            {% csrf_token %}
            {% for den in denomi %}
                <b>{{ den }}</b><input type="number"><br />
            {% endfor %}
            <input type="submit" />
        </form>
    </body>
</html-->