{% extends 'home/list.html' %}
{% block content %}
    <h4>Invoice List {{ test }} ({{ page_obj.paginator.count }})</h4>
    {% if invoices %}
        <div id='sort_switch'></div>
        <table>
            <thead>
            <tr>
                <th>No.</th>
                <th>Product</th>
                <th>Contents</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for i in invoices %}
                <tr>
                    <td sortable-data='{{ i.id }}'>{{ i.id }}</td>
                    <td sortable-data='{{ i.product.name }}'>{{ i.product.name }}</td>
                    <td>{{ i.product.contents }}</td>
                    <td sortable-data='{{ i.quantity }}'>{{ i.quantity }}</td>
                    <td sortable-data='{{ i.rate }}'>{{ i.rate }}</td>
                    <td>{{ i.product.category }}</td>
                    <td sortable-data='{{ i.date.timestamp }}'><span class="date">{{ i.date.date }}<span class="time">,{{ i.date.time }}</span></span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No Invoice till now.
    {% endif %}
{% endblock %}