{% extends 'home/base.html' %}
{% block content %}
    <div class="center"><h5>New Invoice</h5></div>
    <form method="POST" onsubmit="event.preventDefault(); check_new_data();">
        {% csrf_token %}
        <datalist id='products_list'>
            <option value=-1>New Product</option>
            {% for p in products %}
                <option value={{ p.id }}>{{ p.name }} {{ p.contents }}</option> 
            {% endfor %}
        </datalist>
        <datalist id="category_list">
            {% for c in categories %}
            <option value="{{ c.id }}">{{ c.name }}</option>
            {% endfor %}
        </datalist>
        <!-- <input type="hidden" name="prod_id_not_using" value="-1" /> -->
        Product : <input list='products_list' name="prod_id" onblur="fill_up()" style="max-width: 200px;" placeholder="Enter Product Name" />
        <span id='product_name'></span>
        <div id='new_product'></div>
        Quantity : <input type="number" name='quantity' placeholder="Enter Quantity" required />
        Rate : <input type="number" name="rate" placeholder="Enter rate" required />
        <input type="submit" value="next" class="btn" />
    </form>
    <script>
        var products = {
            {% for p in products %}
                "{{ p.id }}": ["{{p.name}}","{{ p.category }}","{{ p.contents }}"],
            {% endfor %}
        };
        var categories = {
            {% for c in categories %}
            "{{c.id}}":"{{c.name}}",
            {% endfor %}
        };
        function set_category(){
            var c = document.getElementsByName('category')[0].value;
            var category = categories[c];
            if(category == undefined){
                category = "You should select the category not just typing it";
            }
            document.getElementById('category_name').innerHTML = category;
        }
        function fill_up(){
            var li = document.getElementsByName('prod_id')[0];
            //console.log(li.value);
            if(li.value == -1){
                //document.getElementsByName('prod_id')[0].value = -1;
                document.getElementById('product_name').innerHTML = "New Product";
                new_product.innerHTML = "New Product Name : <input type='name' name='name' placeholder='Enter new product name' required /><br />Category :<input list='category_list'  style='max-width: 200px;' name='category' placeholder='cement, pesticide ...' onblur='set_category();' required /><span id='category_name'></span> or <a href=\'{% url 'new_category' %}\' class='btn'>Add a category</a><br />Contents : <input type='text' name='contents' placeholder='250ml, 10kg..' /><br />";
            }else{
                new_product.innerHTML = "";
                if(products[li.value] == undefined){
                    document.getElementById('product_name').innerHTML  = "<br />*You should select the product name not just typing it";
                }else{
                    document.getElementById('product_name').innerHTML = products[li.value][0]+" "+products[li.value][2]+" , "+products[li.value][1];
                //document.getElementsByName('prod_id')[0].value = li.value;
                }
            }
        }
        // function submit_form(){
        //     document.forms[0].submit();
        // }
    </script>
    <script>
            function check_new_data(){
        //alert('hh');
                var object = document.getElementById('product_name');
                var name = object.innerText;
                var val = parseInt(document.getElementsByName('prod_id')[0].value);
                var prod_name = document.getElementsByName('name')[0];
                var category = document.getElementsByName('category')[0];

//                var addr = document.getElementsByName('address_id')[0];
//                var addr_val;
//                if(addr){
//                    addr_val = addr.value;
//                }
//                if((val == -1 || name == "New Product")){ && addr_val==undefined ){
                    //console.log("please fill up address");
                    //console.log(addr);
//                    fill_up();//customer);
                //}else
                if(val == -1 && (prod_name == undefined || prod_name == '')){// isNaN(parseInt(addr_val)) ){
                    //alert("Enter correct address");
                    alert('Enter New Product Name');
                }else if(val == -1 && (category.value == undefined || categories[category.value] == undefined)){
                        alert('Enter category');
                }else if((isNaN(val) || val == undefined || val != -1 && products[val] == undefined)){
                    
                    alert('Select correct and existing product name');
                }else{
                    document.forms[0].submit();
                }
                  //alert(val);
            }
    </script>
{% endblock %}