{% extends 'home/base.html' %}
{% block extra_style %}
<style>
    .inp_num{
        max-width: 100px;
    }
    .product_chk{
        color: forestgreen;
    }
    input{
        border: none;
        border-bottom: 1px solid teal;
    }
</style>
{% endblock %}

{% block content %}
    <div>Bill No.{{ view.kwargs.id }}</div>
    <div>Customer : {{ bill.customer }}</div>
    <div style='float: right;'><span class="date">{{ bill.date.date }}<span class="time">,{{ bill.date.time }}</span></span></div>
    <br />
    <hr />
    <datalist id='products_list'>
        {% for i in products %}
        <option value='{{ i.id }}' >{{ i.name }} {{ i.contents }}</option>
        {% endfor %}
    </datalist>
    <form method="POST" action="{% url 'new_particular' view.kwargs.id %}">
        {% csrf_token %}
        <table id='cart'>
            <thead>
            <tr>
                <!-- <th><input type='checkbox' style='visibility: hidden;' onchange="select_all(this)" /></th> -->
                <th>Particulars</th>
                <!-- <th>Market Rate</th> -->
                <th>Rate</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for p in particulars %}
            <tr>
                <!-- <td></td> -->
                <td>{{ p.rate_fk.product.name }} {{ p.rate_fk.product.contents }}</td>
                <!-- <td>{{p.rate_fk.rate }}</td> -->
                <td>{{ p.rate }}</td>
                <td>{{ p.quantity }}</td>
                <td class='amount0'>{{ p.amount }}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tr id='first'>
                <!-- <td>
                    <input type="checkbox" style='visibility: hidden;' class='product_chk' />
                    <button onclick="delete_product(this)">-</button>
                
                </td> -->
                <td>
                    <!-- <input type="hidden" name="particular" value=0 /> 
                    <input list='products_list'  onblur="fill_up(this)" /> -->
                    <input list='products_list' name="particular" onblur="fill_up()" required />
                    <div id="product_name"></div>
                    <!--select >
                            </select-->
                </td>
                <!-- <td>0</td> -->
                <td>
                    <input type="number" name="rate" class='inp_num' value=0 onblur="update_particular(this);update_total();" required />
                    <input type="hidden" name="rate_fk" value=0 required />
                </td>
                <td>
                    <input type="number" name="quantity" class='inp_num' value=1 onblur="update_particular(this);update_total();" />
                </td>
                <td class='amount1'>
                    <input type="number"  name='amount' value=0 contenteditable="false" required />
                    <input type='submit' class='btn' value='add' />
                </td>
                
            </tr>
        </table>
    </form>
    <!-- <button onclick="add_product()">+</button> -->
    Total : <b id='total_id'>0</b>
    {% if particulars %}
    Due : {{ particulars.first.bill.due }}
    <form  method="POST" action="{% url 'payment' particulars.first.bill.id %}">
        {% csrf_token %}
        <input type="hidden" name='amount' value="{{ particulars.first.bill.due }}" />
        <input type="hidden" name="intrest_rate" value="0" />
        <input class="btn" type="submit" value="Pay {{ particulars.first.bill.due }} @ 0 intrest rate" />    
    </form>
    <a href="{% url 'payment' particulars.first.bill.id  %}" class="btn">Pay some amount</a>
    {% endif %}
    <!-- <a href="{% url 'particular' %}">New Particular</a>
    <button onclick="delete_selected()">Delete selected</button> -->

    <script>
        document.getElementsByTagName('body')[0].onload = function(){update_total();};
        var products = { {% for i in products %}
        {{ i.id }}:["{{ i.name }}","{{ i.contents }}"],
        {% endfor %} };
        var rates = {
            {% for r in rates %}
            "{{ r.product.id }}":[{{ r.rate }},{{ r.id }}],
            {% endfor %}
        };
        function submit_form(){
            document.forms[0].submit();
        }
        function record_for_id(id){
            //console.log('id is');
            //console.log(id);
    
            for(var i=0; i<products.length; i++){
                if(products[i][0] == id){
                    return products[i];
                }
            }
            return -1;
        }
//        function fill_up(optn){
        function fill_up(){
            var optn = document.getElementsByName('particular')[0];
            document.getElementById('product_name').innerText = products[optn.value][0]+','+products[optn.value][1];
            // var x = record_for_id(parseInt(optn.value));
            // //console.log('a '+x);
            // if(x!==-1){
            //     optn.value = x[1];
            //     optn.parentElement.parentElement.children[2].children[0].value = x[2];
            //     optn.parentElement.parentElement.children[4].innerHTML = x[2];
            // }
            var r = rates[optn.value];
            if((r == undefined || r[0] == undefined) ){
                alert('Rate not defined for product with id : '+optn.value+",("+products[optn.value]+")");
            }else{
                console.log('DOne');
                document.getElementsByName('particular')[0].value = optn.value;
                //optn.value = products[optn.value];
                
                //following if add_product is available
                //optn.parentElement.parentElement.children[2].innerHTML = r;
                // optn.parentElement.parentElement.children[2].children[0].value = r[0];
                // optn.parentElement.parentElement.children[2].children[1].value = r[1]; 
                // optn.parentElement.parentElement.children[4].children[0].value = r[0];
                document.getElementsByName('rate')[0].value = r[0];
                document.getElementsByName('rate_fk')[0].value = r[1];
                document.getElementsByName('amount')[0].value = r[0];
                update_total();
            }
        }
        function update_particular(field){
            //var y = field.parentElement.parentElement.children;
            //y[4].children[0].value = y[3].children[0].value*y[2].children[0].value;
            document.getElementsByName('amount')[0].value = (document.getElementsByName('quantity')[0].value)*parseFloat(document.getElementsByName('rate')[0].value);
        }
        function update_total(){
            //var tbl = document.getElementsByTagName('table');
            var total = [0,0];
            for(var i=0; i<2; i++){
                var amounts = document.getElementsByClassName('amount'+i);
//                console.log(amounts[0].innerHTML);
                for(var a=0; a<amounts.length; a++){
                    if(i==0)
                        total[i] += parseFloat(amounts[a].innerText);
                    else
                        total[i] += parseFloat(amounts[a].children[0].value)
                }
            }
            var t  ='';
            if(total[0] == 0){
                t += total[1];
            }else if(total[1] == 0){
                t += total[0];
            }else{
                t += total[0]+' + '+total[1]+' = '+(total[0]+total[1]);
            }
            document.getElementById('total_id').innerHTML = t;
        }
    </script>
    <!-- script>
        var products_node = document.getElementById('first').innerHTML;
        var cart = document.getElementById('cart');
        document.getElementsByTagName('body')[0].addEventListener("keypress",keyboard_shortcuts);
        var n;
        
        function add_product_not_now(){
            var x = document.createElement('tr');
            x.innerHTML = products_node;
            cart.appendChild(x);//innerHTML += products_node;
        }
        function keyboard_shortcuts(e){
            console.log(e.key);
            if(e.key == '='){
                add_product();
            }else if(e.key == '-'){
    
            }else if(e.key == 'Enter'){
                for(var c  in cart.children){
                    console.log(c);
                }
            }
        }
        function delete_product(prd){
            prd.parentNode.parentNode.parentNode.removeChild(prd.parentNode.parentNode);
        }
        function select_all(chk){
            var t = chk.checked;
            var chks = document.getElementsByClassName('product_chk');
            for(var i=0; i<chks.length; i++){
                chks[i].checked = t;
            }
        }
        function delete_selected(){
            var chks = document.getElementsByClassName('product_chk');
            for(var i = 0; i< chks.length; i++){
                if(chks[i].checked){
                    delete_product(chks[i]);
                }
            }
        }
        
    </script -->
{% endblock %}