{% extends 'home/list.html' %}
{% block content %}
    <h4>Payments List ({{ page_obj.paginator.count }})</h4>
    {% if payments %}
        <table>
            <thead>
            <tr>
                <th>No.</th>
                <th>Customer</th>
                <th>Bill (total - due)</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Remarks</th>
            </tr>
            </thead>
            <tbody>
            {% for p in payments %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td><a href="{% url 'customer_bills' p.bill.customer.id %}" >{{p.bill.customer}}</a></td>
                    <td><a href="{% url 'bill_particular' p.bill.id %}">{{ p.bill.total }} - {{ p.bill.due }}</a></td>
                    <td><a href="{% url 'payment' p.bill.id %}">{{ p.amount }}</a></td>
                    <td><span class="date">{{ p.date.date }}<span class="time">,{{ p.date.time }}</span></span></td>
                    <td>{{ p.remarks }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No payments till now.
    {% endif %}
{% endblock %}