{% extends 'home/base.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <!-- <h3>Payment</h3>
    {% if bill %}
        Bill {{ bill.id }}
        <div>
            Customer : {{ bill.customer.name }}
            <span class="date">bill.date.date<span class="time"> bill.date.time</span></span>
        </div>
    {% endif %} 
    Amount : <input type="text" value="" placeholder="Enter amount"/> -->
    <!-- 
    <datalist id='customers_list'>
        <option value='-1'>New Customer</option>
        {% for c in customers %}
        <option value="{{ c.id }}">{{ c }}</option>
        {% endfor %}
    </datalist>
    <datalist id='address_list'>
        <option value='-1'>New Address</option>
        {% for a in addresses %}
            <option value="{{ a.id }}">{{ a }}</option>
        {% endfor %}
    </datalist>
    <input type="hidden" name='cust_id' value=-1 />
    <input list="customers_list" placeholder="Enter Customer name" onblur="fill_up(this);" />
    <div id='data'></div> -->

    <input type='submit' value='Pay'  />
</form>
<!-- <script>
    var customers = {
        {% for c in customers %}
        "{{ c.id }}":"{{ c }}",
        {% endfor %}
    };
    function fill_up(li){
        var d = document.getElementById('data');
        if(li.value == -1){
            document.getElementsByName('cust_id')[0].value = -1;
            li.value = "New Customer";
            d.innerHTML = "<input type='text' placeholder='name' name='name' required /><input list='address_list' name='address_id' placeholder='Enter address' required /><input type='text' maxlength=10 placeholder='phone' /> <input type='email' placeholder='email' />"
        }else{
            document.getElementsByName('cust_id')[0].value = li.value;
            li.value = customers[li.value];
            document.forms[0].submit();
        }
    }
</script> -->
{% endblock %}