{% extends 'home/base.html' %}
{% block content %}
    {% if without_rate %}
    <h4>Products without rate</h4>
    <table>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Quantity</td>
        </tr>
        {% for p in without_rate %}
            <tr>
                <td>{{ p.id }}</td>
                <td><a href="{% url 'new_rate' p.id %}">{{ p.name }}</a></td>
                <td>{{ p.quantity }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
            There is no product without rate.
    {% endif %}
    <h4>Products & Rates</h4>
    <table>
            <tr>
                <!-- <td>RateId</td>
                <td>ProductId</td> -->
                <td>Name</td>
                <td>Rate</td>
                <td>Quantity</td>
                <td>Effective From</td>
            </tr>
            {% for r in rates %}
        <tr>
            <!-- <td>{{ r.id }}</td>
            <td>{{ r.product.id }}</td> -->
            <td>{{ r.name }}</td>
            <td><a href="{% url 'new_rate' r.product.id %}">{{ r.rate }}</a></td>
            <td>{{ r.quantity }}</td>
            <td ><span class="date">{{ r.date.date }}<span class="time">@ {{ r.date.time}}</span></span></td>
        </tr>
        {% endfor %}

    </ul>
    </table>
{% endblock %}